// Import reference point
// From "less" folder
@import "../bower_components/legolize/legos/button.less";
// Lego's variables and mixins
@import "button.variables";
@import "button.mixins";
/********************************************
	Buttons
********************************************/

// When writing Lego's we use BEM naming conventions like the SUIT project

// ComponentName
// ComponentName--modifierName
// ComponentName-descendantName
// ComponentName.is-stateOfComponent

// -------------------- Core LEGO --------------------
.Button {
	.Button();
}

// -------------------- Modifiers --------------------
.Button--block {
	.Button--block();
}

.Button--default {
	.Button--default();
}

// example: next buttons
.Button--primary {
	.Button--primary();
}

// example: back buttons
.Button--secondary {
	.Button--secondary();
}

// example: save or final submit button
.Button--success {
	.Button--success();
}

// example: delete button
.Button--danger {
	.Button--danger();
}

// Call to action example: confirm buttons
.Button--cta {
	.Button--cta();
}

// -------------------- Size Modifiers --------------------
.Button--xs {
	.Button--xs();
}

.Button--sm {
	.Button--sm();
}

.Button--md {
	.Button--md();
}

.Button--lg {
	.Button--lg();
}

.Button--xl {
	.Button--xl();
}

.Button--huge {
	.Button--huge();
}

// -------------------- Descendants --------------------





// -------------------- States --------------------