@import "normalize";

body {
	padding: 0;
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial;
	& * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}