/********************************************
	Layout
********************************************/


// -------------------- Common for main sections --------------------
html, body {

}

// -------------------- Page wrapper --------------------
.ui-Page {

}


// -------------------- Header --------------------
.ui-PageHeader {

}

.ui-PageHeader-body {

}

.ui-PageHeader-title {

}

.ui-PageHeader-logo {

}


// -------------------- Content body --------------------
.ui-PageBody {

}

.ui-PageBody-header {

}

.ui-PageBody-content {
	border: red;
}

// -------------------- Footer --------------------
.ui-PageFooter {

}

// -------------------- Main navigation --------------------
.ui-PageNav {

}

// -------------------- Content Section --------------------
.ui-Section {

}

.ui-Section-content {

}

.ui-Section-buttonRow {

}
